body {
    background-color: lightgray;
    font-family: sans-serif;
    text-align: center;
}

/*Top*/
#topo {
    background-color:bisque;
    padding: 20px;
    position: relative;
}

#topo h1 {
    color: darkgreen;
    font-size: 32px;
}

#logo-cpp {
    position: absolute;
    left: 20px;
    top: 15px;
    width: 90px;
}

#logo-java {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 90px;
}

/*menu*/
#menu {
    margin-top: 0;
    padding: 10px;
    background-color:  lightskyblue;
}

#menu a {
    margin: 0 20px;
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: underline;
}

#intro {
    width: 80%;
    margin: 20px auto;
}

#intro p {
    font-size: 20px;
}
#livros img {
    width: 180px;
    margin: 10px 20px;
}

#midias {
    margin-top: 20px;
}
#contatos {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
}

#contatos th {
    background-color: red;
    color: white;
    padding: 10px;
}

#contatos td {
    border: 1px dashed darkred;
    padding: 10px;
}

#rodape {
    background-color: yellow;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#html-icon {
    width: 70px;
    margin-left: 20px;
}

#css-icon {
    width: 70px;
    margin-right: 20px;
}

#rodape-centro {
    width: 60%;
}

#mensagem-final {
    color: indigo;
    font-family: "Comic Sans MS", cursive;
    font-size: 15pt;
}
